<main class="hp-bg-color-dark-90 d-flex min-vh-100">
    <div class="hp-main-layout hp-main-layout-horizontal">
        <header>
            <div class="row w-100 m-0">
                <div class="col ps-18 pe-16 px-sm-24">
                    <div class="row w-100 align-items-center justify-content-between position-relative">
                        <div class="col w-auto hp-flex-none hp-mobile-sidebar-button me-24 px-0" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
                            <button type="button" class="btn btn-text btn-icon-only">
                                <i class="ri-menu-fill hp-text-color-black-80 hp-text-color-dark-30 lh-1" style="font-size: 24px;"></i>
                            </button>
                        </div>

                        <div class="col hp-flex-none w-auto hp-horizontal-block">
                            <div class="hp-header-logo d-flex align-items-end">
                                <a href={Routes.page_path(@conn, :dashboard)}>
                                    <img class="hp-logo hp-sidebar-visible" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                    <img class="hp-logo hp-sidebar-hidden hp-dir-none hp-dark-none" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                    <img class="hp-logo hp-sidebar-hidden hp-dir-none hp-dark-block" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                    <img class="hp-logo hp-sidebar-hidden hp-dir-block hp-dark-none" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                    <img class="hp-logo hp-sidebar-hidden hp-dir-block hp-dark-block" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                </a>
                            </div>
                        </div>

                        <div class="col hp-flex-none w-auto hp-horizontal-block hp-horizontal-menu ps-24">
                            <ul class="d-flex flex-wrap align-items-center">
                                <li class="px-6">
                                    <a href={Routes.page_path(@conn, :dashboard)} class="px-12 py-4">
                                        <span><%= gettext "Dashboard" %></span>
                                    </a>
                                </li>

                                <li class="px-6">
                                    <a href={Routes.page_path(@conn, :list_groups)} class="px-12 py-4">
                                        <span><%= gettext "Host Groups" %></span>
                                    </a>
                                </li>

                                <li class="px-6">
                                    <a href={Routes.page_path(@conn, :list_deployments)} class="px-12 py-4">
                                        <span><%= gettext "Deployments" %></span>
                                    </a>
                                </li>
                                <%= if @data.is_super do %>
                                    <li class="px-6">
                                        <a href={Routes.page_path(@conn, :list_teams)} class="px-12 py-4">
                                            <span><%= gettext "Teams" %></span>
                                        </a>
                                    </li>

                                    <li class="px-6">
                                        <a href={Routes.page_path(@conn, :list_users)} class="px-12 py-4">
                                            <span><%= gettext "Users" %></span>
                                        </a>
                                    </li>
                                    <li class="px-6">
                                        <a href={Routes.page_path(@conn, :settings)} class="px-12 py-4">
                                            <span><%= gettext "Settings" %></span>
                                        </a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="col hp-flex-none w-auto pe-0">
                            <div class="row align-items-center justify-content-end">
                                <div class="hover-dropdown-fade w-auto px-0 ms-6 position-relative hp-cursor-pointer">
                                    <div class="avatar-item d-flex align-items-center justify-content-center rounded-circle" style="width: 40px; height: 40px;">
                                        <img src={Routes.static_path(@conn, "/theme/app/avatar.png")}>
                                    </div>

                                    <div class="hp-header-profile-menu dropdown-fade position-absolute pt-18" style="top: 100%; width: 260px;">
                                        <div class="rounded border hp-border-color-black-40 hp-bg-black-0 hp-bg-dark-100 hp-border-color-dark-80 p-24">
                                            <span class="d-block h5 hp-text-color-black-100 hp-text-color-dark-0 mb-6"><%= gettext "Profile Settings" %></span>

                                            <a href={Routes.page_path(@conn, :profile)} class="hp-p1-body hp-text-color-primary-1 hp-text-color-dark-primary-2 hp-hover-text-color-primary-2"><%= gettext "Profile" %></a>

                                            <div class="divider my-12"></div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <a href="https://github.com/clivern/scuti/issues" class="d-flex align-items-center hp-p1-body py-4 px-10 hp-transition hp-hover-bg-primary-4 hp-hover-bg-dark-primary hp-hover-bg-dark-80 rounded" style="margin-left: -10px; margin-right: -10px;">
                                                        <i class="iconly-Curved-Game me-8" style="font-size: 16px;"></i>
                                                        <span class="hp-ml-8"><%= gettext "Support" %></span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="divider my-12"></div>

                                            <a class="hp-p1-body" href={Routes.page_path(@conn, :logout)}><%= gettext "Logout" %></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="offcanvas offcanvas-start hp-mobile-sidebar" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel" style="width: 256px;">
            <div class="offcanvas-header justify-content-between align-items-end me-16 ms-24 mt-16 p-0">
                <div class="w-auto px-0">
                    <div class="hp-header-logo d-flex align-items-end">
                        <a href={Routes.page_path(@conn, :dashboard)}>
                            <img class="hp-logo hp-sidebar-visible" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                            <img class="hp-logo hp-sidebar-hidden hp-dir-none hp-dark-none" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                            <img class="hp-logo hp-sidebar-hidden hp-dir-none hp-dark-block" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                            <img class="hp-logo hp-sidebar-hidden hp-dir-block hp-dark-none" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                            <img class="hp-logo hp-sidebar-hidden hp-dir-block hp-dark-block" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                        </a>
                    </div>
                </div>

                <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-hidden" data-bs-dismiss="offcanvas" aria-label="Close">
                    <button type="button" class="btn btn-text btn-icon-only">
                        <i class="ri-close-fill lh-1 hp-text-color-black-80" style="font-size: 24px;"></i>
                    </button>
                </div>
            </div>

            <div class="hp-sidebar hp-bg-color-black-0 hp-bg-color-dark-100">
                <div class="hp-sidebar-container">
                    <div class="hp-sidebar-header-menu">
                        <div class="row justify-content-between align-items-end me-12 ms-24 mt-24">
                            <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-visible">
                                <button type="button" class="btn btn-text btn-icon-only">
                                    <i class="ri-menu-unfold-line" style="font-size: 16px;"></i>
                                </button>
                            </div>

                            <div class="w-auto px-0">
                                <div class="hp-header-logo d-flex align-items-end">
                                    <a href={Routes.page_path(@conn, :dashboard)}>
                                        <img class="hp-logo hp-sidebar-visible" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                        <img class="hp-logo hp-sidebar-hidden hp-dir-none hp-dark-none" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                        <img class="hp-logo hp-sidebar-hidden hp-dir-none hp-dark-block" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                        <img class="hp-logo hp-sidebar-hidden hp-dir-block hp-dark-none" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                        <img class="hp-logo hp-sidebar-hidden hp-dir-block hp-dark-block" src={Routes.static_path(@conn, "/images/ico.png")} alt="logo">
                                    </a>
                                </div>
                            </div>

                            <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-hidden">
                                <button type="button" class="btn btn-text btn-icon-only">
                                    <i class="ri-menu-fold-line" style="font-size: 16px;"></i>
                                </button>
                            </div>
                        </div>

                        <ul>
                            <li>
                                <div class="menu-title"><%= gettext "PAGES" %></div>
                                <ul>
                                    <li>
                                        <a href={Routes.page_path(@conn, :dashboard)}>
                                            <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="Blank Page" data-bs-original-title="Blank Page" aria-label="Blank Page"></div>
                                            <span>
                                                <i class="iconly-Curved-PaperPlus"></i>
                                                <span><%= gettext "Dashboard" %></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href={Routes.page_path(@conn, :list_groups)}>
                                            <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="Blank Page" data-bs-original-title="Blank Page" aria-label="Blank Page"></div>
                                            <span>
                                                <i class="iconly-Curved-PaperPlus"></i>
                                                <span><%= gettext "Host Groups" %></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href={Routes.page_path(@conn, :list_deployments)}>
                                            <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="Blank Page" data-bs-original-title="Blank Page" aria-label="Blank Page"></div>
                                            <span>
                                                <i class="iconly-Curved-PaperPlus"></i>
                                                <span><%= gettext "Deployments" %></span>
                                            </span>
                                        </a>
                                    </li>
                                    <%= if @data.is_super do %>
                                        <li>
                                            <a href={Routes.page_path(@conn, :list_teams)}>
                                                <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="Blank Page" data-bs-original-title="Blank Page" aria-label="Blank Page"></div>
                                                <span>
                                                    <i class="iconly-Curved-PaperPlus"></i>
                                                    <span><%= gettext "Teams" %></span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={Routes.page_path(@conn, :list_users)}>
                                                <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="Blank Page" data-bs-original-title="Blank Page" aria-label="Blank Page"></div>
                                                <span>
                                                    <i class="iconly-Curved-PaperPlus"></i>
                                                    <span><%= gettext "Users" %></span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={Routes.page_path(@conn, :settings)}>
                                                <div class="tooltip-item in-active" data-bs-toggle="tooltip" data-bs-placement="right" title="Blank Page" data-bs-original-title="Blank Page" aria-label="Blank Page"></div>
                                                <span>
                                                    <i class="iconly-Curved-PaperPlus"></i>
                                                    <span><%= gettext "Settings" %></span>
                                                </span>
                                            </a>
                                        </li>
                                    <% end %>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="row justify-content-between align-items-center hp-sidebar-footer pb-24 px-24 mx-0 hp-bg-color-dark-100">
                        <div class="divider border-black-20 hp-border-color-dark-70 hp-sidebar-hidden px-0"></div>

                        <div class="col">
                            <div class="row align-items-center">
                                <div class="me-8 w-auto px-0">
                                    <div class="avatar-item d-flex align-items-center justify-content-center rounded-circle" style="width: 36px; height: 36px;">
                                        <img src={Routes.static_path(@conn, "/theme/app/avatar.png")}>
                                    </div>
                                </div>

                                <div class="w-auto px-0 hp-sidebar-hidden">
                                    <span class="d-block hp-text-color-black-100 hp-text-color-dark-0 hp-p1-body lh-1"><%= @data.user_name %></span>
                                    <a href={Routes.page_path(@conn, :profile)} class="hp-badge-text hp-text-color-dark-30"><%= gettext "Profile" %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hp-main-layout-content">

            <div class="row g-32">
                <div class="col-12">
                    <h1 class="mb-8"><%= gettext "Deployment" %></h1>
                </div>

                <div class="col-12">
                    <div class="card hp-card-2">
                        <div class="card-body">
                            <h5 class="mb-4"><%= gettext "Name" %></h5>
                            <p class="hp-p1-body mb-16"><%= @data.deployment.name %></p>

                            <h5 class="mb-4"><%= gettext "UUID" %></h5>
                            <p class="hp-p1-body mb-16"><%= @data.deployment.uuid %></p>

                            <h5 class="mb-4"><%= gettext "Host Group Filter" %></h5>
                            <p class="hp-p1-body mb-16"><%= @data.deployment.host_groups_filter %></p>

                            <h5 class="mb-4"><%= gettext "Host Filter" %></h5>
                            <p class="hp-p1-body mb-16"><%= @data.deployment.hosts_filter %></p>

                            <h5 class="mb-4"><%= gettext "Schedule Type" %></h5>
                            <p class="hp-p1-body mb-16"><%= @data.deployment.schedule_type %></p>

                            <h5 class="mb-4"><%= gettext "Schedule Time in UTC" %></h5>
                            <p class="hp-p1-body mb-16"><%= @data.deployment.schedule_time %></p>

                            <h5 class="mb-4"><%= gettext "Last Status" %></h5>
                            <p class="hp-p1-body mb-16">
                                <%= if @data.deployment.last_status == "success" do %>
                                  <div class="badge bg-success-4 hp-bg-dark-success text-success border-success"><%= gettext "SUCCESS" %></div>
                                <% end %>
                                <%= if @data.deployment.last_status == "failure" do %>
                                  <div class="badge bg-danger-4 hp-bg-dark-danger text-danger border-danger"><%= gettext "FAILURE" %></div>
                                <% end %>
                                <%= if @data.deployment.last_status == "unknown" do %>
                                    <div class="badge bg-warning-4 hp-bg-dark-warning text-warning border-warning"><%= gettext "UNKNOWN" %></div>
                                <% end %>
                                <%= if @data.deployment.last_status == "running" do %>
                                    <div class="badge bg-info-4 hp-bg-dark-info text-info border-info"><%= gettext "RUNNING" %></div>
                                <% end %>
                                <%= if @data.deployment.last_status == "pending" do %>
                                    <div class="badge bg-warning-4 hp-bg-dark-warning text-warning border-warning"><%= gettext "PENDING" %></div>
                                <% end %>
                                <%= if @data.deployment.last_status == "skipped" do %>
                                    <div class="badge bg-success-4 hp-bg-dark-success text-success border-success"><%= gettext "SKIPPED" %></div>
                                <% end %>
                            </p>

                            <h5 class="mb-4"><%= gettext "Last Run at in UTC" %></h5>
                            <p class="hp-p1-body mb-16"><%= @data.deployment.last_run_at %></p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card hp-card-6 hp-order-table-card">
                        <div class="card-body">
                            <h5 class="mb-8"><%= gettext "Target Hosts" %></h5>

                            <div class="table-responsive">
                                <table class="table align-middle">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Name" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Hostname" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Status" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Labels" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Created at" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Actions" %></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <%= for host <- @data.hosts do %>
                                        <tr>
                                          <td><span class="text-color-dark-0"><%= host.name %></span></td>
                                          <td><span class="text-color-dark-0"><%= host.hostname %></span></td>
                                          <td>
                                            <%= if host.status == "up" do %>
                                              <div class="badge bg-success-4 hp-bg-dark-success text-success border-success"><%= gettext "UP" %></div>
                                            <% end %>
                                            <%= if host.status == "down" do %>
                                              <div class="badge bg-danger-4 hp-bg-dark-danger text-danger border-danger"><%= gettext "DOWN" %></div>
                                            <% end %>
                                            <%= if host.status == "unknown" do %>
                                            <div class="badge bg-warning-4 hp-bg-dark-warning text-warning border-warning"><%= gettext "UNKNOWN" %></div>
                                            <% end %>
                                          </td>
                                          <td><span class="text-color-dark-0"><%= host.labels %></span></td>
                                          <td><span class="text-color-dark-0"><%= host.inserted_at %></span></td>
                                          <td>
                                                <button class="btn btn-dashed btn-sm text-black-100 border-black-100 hp-hover-text-color-black-80 hp-hover-border-color-black-80" data-id={host.id} data-uuid={host.uuid}><%= gettext "Edit" %></button>
                                                <button class="btn btn-dashed btn-sm text-danger border-danger hp-hover-text-color-danger-2 hp-hover-border-color-danger-2" data-id={host.id} data-uuid={host.uuid}><%= gettext "Delete" %></button>
                                          </td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card hp-card-6 hp-order-table-card">
                        <div class="card-body">
                            <h5 class="mb-8"><%= gettext "History" %></h5>

                            <div class="table-responsive">
                                <table class="table align-middle">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Total Hosts" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Hosts Updated" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Hosts Failed" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Progress" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Status" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Run at" %></span>
                                            </th>
                                            <th>
                                                <span class="hp-badge-size fw-normal text-black-60 hp-text-color-dark-50 text-uppercase"><%= gettext "Actions" %></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <%= for record <- @data.history do %>
                                        <tr>
                                          <td><span class="text-color-dark-0">Task#<%= record.id %></span></td>
                                          <td><span class="text-color-dark-0"><%= record.total_hosts %></span></td>
                                          <td><span class="text-color-dark-0"><%= record.updated_hosts %></span></td>
                                          <td><span class="text-color-dark-0"><%= record.failed_hosts %></span></td>
                                          <td><span class="text-color-dark-0"><%= record.progress %>%</span></td>
                                          <td>
                                            <%= if record.status == "pending" do %>
                                              <div class="badge bg-info-4 hp-bg-dark-info text-info border-info"><%= gettext "PENDING" %></div>
                                            <% end %>
                                            <%= if record.status == "running" do %>
                                              <div class="badge bg-info-4 hp-bg-dark-info text-info border-info"><%= gettext "RUNNING" %></div>
                                            <% end %>
                                            <%= if record.status == "success" do %>
                                            <div class="badge bg-success-4 hp-bg-dark-success text-success border-success"><%= gettext "SUCCESS" %></div>
                                            <% end %>
                                            <%= if record.status == "failure" do %>
                                            <div class="badge bg-danger-4 hp-bg-dark-danger text-danger border-danger"><%= gettext "FAILURE" %></div>
                                            <% end %>
                                            <%= if record.status == "skipped" do %>
                                            <div class="badge bg-warning-4 hp-bg-dark-warning text-warning border-warning"><%= gettext "SKIPPED" %></div>
                                            <% end %>
                                          </td>
                                          <td><span class="text-color-dark-0"><%= record.run_at %></span></td>
                                          <td>
                                                <button class="btn btn-dashed btn-sm text-danger border-danger hp-hover-text-color-danger-2 hp-hover-border-color-danger-2" data-id={record.id} data-uuid={record.uuid}><%= gettext "Delete" %></button>
                                          </td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <footer class="w-100 py-18 px-16 py-sm-24 px-sm-32 hp-bg-color-black-20 hp-bg-color-dark-90">
            <div class="row">
                <div class="col-12">
                    <p class="hp-badge-text fw-semibold mb-0 text-center text-sm-start hp-text-color-dark-30"><%= gettext "Copyright © 2025 Clivern. All rights Reserved" %></p>
                </div>
            </div>
        </footer>
    </div>
</main>

<div class="position-fixed top-0 end-0 p-16" style="z-index: 99">
    <div class="toast fade hide" id="toast_notification" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img class="me-8" src={Routes.static_path(@conn, "/images/ico.png")} width="20">
            <strong class="me-auto"><%= gettext "Scuti" %></strong>
            <small><%= gettext "Just Now" %></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>
